/*Tailwind CSS 1rem; /* 16px */

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 15px;
    text-align: center;
    background: hsl(212, 45%, 89%);
}

img {
    max-width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
